@import url("./css/clash-display.css");
@import url("./css/satoshi.css");
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-clashdisplay: "ClashDisplay-Variable", var(--font-sans);
  --font-satoshi: "Satoshi-Variable", ui-sans-serif, system-ui;
  --font-satoshi-italic: "Satoshi-VariableItalic", ui-sans-serif, system-ui;
  --font-fredoka: "Fredoka", ui-sans-serif, system-ui;

  --animate-bar-grow: barGrow 0.6s forwards cubic-bezier(0.22, 0.61, 0.36, 1);
  @keyframes barGrow {
    0% {
      height: 0%;
      opacity: 0.3;
    }
    100% {
      height: 80%;
      opacity: 1;
    }
  }

  --animate-digit-appear: digitAppear 0.4s forwards;
  @keyframes digitAppear {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-gradient: gradient linear infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
  @keyframes star-movement-bottom {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(-100%, 0%);
      opacity: 0;
    }
  }

  --animate-star-movement-top: star-movement-top linear infinite alternate;
  @keyframes star-movement-top {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
  }

  --animate-shine: shine 5s linear infinite;
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-size: 16px;
  scroll-padding-top: 60px;
}

/***** Scrollbar ****/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #b4fe00;
  border-radius: 6px;
}
/***** Scrollbar ****/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-foreground: var(--foreground);
  --color-foreground-1: var(--foreground-1);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-1: var(--secondary-1);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-fg-1: var(--secondary-foreground-1);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-link-hover: var(--link-hover);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.901 0.0046 0.01);
  --background-1: oklch(0.4183 0.0911 243.24);
  --foreground: oklch(0.4183 0.0911 243.24);
  --foreground-1: oklch(0.901 0.0046 0.01);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(79.45% 0.13 191.11);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-1: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.8786 0.0455 271.71);
  --secondary-foreground-1: oklch(0.279 0.041 260.031);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(96.8% 0.007 247.896);
  --accent: oklch(0.9136 0.238617 127.9149);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --link-hover: oklch(0.7289 0.2119 147.82);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --link-hover: oklch(0.7289 0.2119 147.82);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.style-h1 {
  font-size: 3rem;
  font-family: var(--font-clashdisplay);

  @media (min-width: 600px) {
    font-size: min(10vw, 140px);
  }
}

.style-h2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-clashdisplay);

  @media (min-width: 717px) {
    font-size: min(4vw, 40px);
  }

  position: relative;
  padding: 0;
  text-align: center;
  display: inline-block;

  /* underline */
  @media (min-width: 717px) {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      translate: -50% 0;
      bottom: 0.24em;
      height: 0.25em;
      width: 101%;
      background-color: oklch(0.4183 0.0911 243.24 / 20%);
      z-index: -1;
    }
  }

  &.underline-dark::after {
    background-color: oklch(0.901 0.0046 0.01 / 20%);
  }

  &.h2-no-underline::after {
    background-color: transparent;
  }
}

.style-h2-contact {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--font-clashdisplay);
  margin-bottom: 0px;
  padding-bottom: 2px;

  @media (min-width: 717px) {
    font-size: min(4vw, 50px);
  }

  position: relative;
  padding: 2px;
  text-align: center;
  display: inline-block;
  z-index: 20;

  /* underline */
  @media (min-width: 300px) {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      translate: -50% 0;
      bottom: 0;
      height: 0.4rem;
      width: 101%;
      background-image: url("/backgrounds/dark-underline.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      z-index: -1;
    }
  }

  &.underline-dark::after {
    background-color: oklch(0.901 0.0046 0.01 / 20%);
  }

  &.h2-no-underline::after {
    background-color: transparent;
  }
}

.style-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-clashdisplay);

  @media (min-width: 717px) {
    font-size: min(3vw, 30px);
  }

  &.h3-fredoka {
    font-family: var(--font-fredoka);
    font-weight: 400;
  }
}

.style-p {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-satoshi);

  @media (min-width: 600px) {
    font-size: min(2.5vw, 19px);
  }

  &.p-small {
    font-size: 1rem;
    font-weight: 400;

    @media (min-width: 717px) {
      font-size: min(2.3vw, 17px);
    }
  }
}

.brush-highlight {
  position: relative;
  display: inline;
  background-color: transparent;
  z-index: 0;
  padding: 0 0.1em;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 0;
    height: 0.45em;
    width: 102%;
    background-color: var(--accent);
    z-index: -4;
    opacity: 0.6;
  }

  &.brush-dark::after {
    opacity: 0.4;
  }
}

/******* Hero Begin *******/

.hero__title-2 {
  @media (max-width: 400px) {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  @media (min-width: 400px) and (max-width: 640px) {
    font-size: var(--text-3xl) /* 3rem = 48px */;
    line-height: var(--tw-leading, var(--text-3xl--line-height) /* 1 */);
  }
}

.hero__text-height {
  @media (max-height: 700px) {
    @apply sm:h-[380px] md:h-[380px];
  }

  @media (min-height: 700px) {
    @apply md:h-[550px] lg:h-[450px] xl:h-[500px];
  }
}

.hero__text-padding {
  @media (max-height: 700px) {
    @apply md:pt-3 lg:pt-10 xl:pt-0;
  }

  @media (min-height: 700px) and (max-height: 1080px) {
    @apply md:pt-5 lg:pt-24 xl:pt-0;
  }
}

.hero__metrics {
  @media (min-height: 800px) {
    @apply md:flex;
  }
}

.hero__animations {
  @media (min-height: 950px) and (min-width: 1450px) {
    @apply xl:block;
  }
}

.hero__sm-animation {
  @media (max-height: 700px) {
    @apply md:right-10 md:translate-x-0 lg:top-48;
  }

  @media (min-height: 700px) {
    @apply lg:top-72;
  }

  @media (min-height: 950px) and (min-width: 1450px) {
    @apply xl:hidden;
  }
}

.hero__button {
  @media (max-height: 700px) {
    @apply sm:justify-start sm:ps-5;
  }
}

/******* Hero End *********/

/******* Why Choose Us Begin ********/

.card__colors {
  background-color: var(--background-1);
  /* border-color: oklch(0.901 0.0046 0.01 / 0.1); */
  box-shadow: 0px 0px 16px oklch(0.2 0.01 250 / 0.3);

  &:hover {
    box-shadow: 0px 6px 16px oklch(0.2 0.01 250 / 0.4);
  }
}

/******* Why Choose Us End ********/

.custom-border {
  border-left: 2px solid white;
  padding-left: 1rem;
}

@media (min-width: 1024px) {
  .custom-border {
    border-left: none;
    border-top: 2px solid white;
    padding-left: 0;
    padding-top: 1.5rem;
  }
}

/* Dot base style */
.custom-border-dot {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  width: 10px;
  height: 10px;
}

.custom-border-dot-3 {
  bottom: 0;
  left: -6px;
}

/* Default: vertical dots for small screens */
.dot-1 {
  top: 0;
  left: -6px;
}

.dot-2 {
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
}

.dot-3 {
  bottom: 0;
  left: -6px;
}

/* On large screens, change to top border dots */
@media (min-width: 1024px) {
  .dot-1 {
    top: -6px;
    left: 0%;
  }

  .dot-2 {
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }

  .dot-3 {
    top: -6px;
    right: 0%;
  }
}

/****** Begin Embla Carousel ******/
.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  @apply cursor-pointer;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @apply w-full lg:max-w-fit;
}

.embla__dot {
  @apply rounded-full mx-2 border-0 h-1 hover:bg-slate-700;
}

.embla__dot--selected {
  @apply bg-slate-500;
}

.embla__button {
  @apply hidden lg:block rounded-full h-10 w-10 md:h-12 md:w-12 border-0 backdrop-blur-2xl bg-slate-300/10 hover:bg-slate-500 transition-all duration-500;
}

/****** End Embla Carousel ******/

/******* Begin Contact Us Page *******/

.hero-illustrations {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 0rem 2rem;
  overflow-x: hidden;
  scrollbar-width: none;
  align-items: end;
  padding-top: 0%;
}

.hero-illustrations::-webkit-scrollbar {
  display: none;
}

.illustration {
  border-radius: 10px;
  width: 350px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.illustration:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.illustration svg {
  stroke-width: 1.5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-hero {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .hero-text {
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .hero-illustrations {
    width: 100%;
    padding: 1rem 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Form field animation classes */
.form-group {
  margin-bottom: 1.5rem;
  animation: fadeIn 0.5s ease-out forwards;
  opacity: 0;
}

/* Sequential delay for each form field */
.form-group:nth-child(1) {
  animation-delay: 0.6s;
} /* Phone */
.form-group:nth-child(2) {
  animation-delay: 0.9s;
} /* Email */
.form-group:nth-child(3) {
  animation-delay: 0.11s;
} /* Subject */
.form-group:nth-child(4) {
  animation-delay: 0.13s;
} /* Message */
.form-group:nth-child(5) {
  animation-delay: 0.15s;
} /* Submit button */

@keyframes rollOut {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
    visibility: visible;
  }
}

.rollout {
  animation: rollOut 0.8s ease-in-out forwards;
  margin-top: 10px;
  visibility: hidden;
  overflow: hidden;
  height: 90%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.fixed-form {
  width: fit-content;
  height: fit-content;
  top: 0;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
  --x: 15px;
  --y: 10px;
}

.form-group label {
  position: absolute;
  background-color: transparent;
  left: calc(var(--x) * 2);
  top: calc(var(--y) * 1.5);
  font-weight: 500;
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: var(--x) var(--y);
  border: 1px solid var(--color-foreground-1);
  border-radius: 6px;
  font-size: 1rem;
}

.form-group input:focus-visible ~ label,
.form-group input:not(:placeholder-shown) ~ label,
.form-group textarea:focus-visible ~ label,
.form-group textarea:not(:placeholder-shown) ~ label {
  top: calc(var(--y) * -1.4);
  z-index: 1100;
  background-color: var(--color-background-1) / 90;
  backdrop-filter: blur(70px);
  padding: 3px;
  transition: all 0.2s ease;
  pointer-events: none;
  outline: none;
}

.form-group select {
  border: 1px solid var(--color-foreground-1);
  width: 100%;
  font-size: 1rem;
  border-radius: 6px;
}

.submit-btn {
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3/40;
}

.form-group input:focus-visible,
.form-group textarea:focus-visible {
  border-color: var(--color-foreground-1) / 80;
  outline: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fixed-form {
    width: 100%;
    height: auto;

    min-width: auto;
  }
}

/******** End Contact Us Page *********/

/******** Begin Services Page ********/
.glass-card {
  background: var(--background);
  color: var(--foreground);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.glass-card-dark {
  background: var(--background-1);
  color: var(--foreground-1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/********* End Services Page *********/
